{% extends "admin/base.html" %}
{% block title %}All Contents{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
</style>
{% endblock %}
{% block content %}
<div class="container border border-1 rounded-2">
    <p class="fw-bold fs-4 mb-2 mt-2">All Contents</p>
    <div>{% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning bg-warning text-light alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <table class="table table-striped table-hover" id="myTable" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>File Name</th>
                <th>Content Type</th>
                <th>Uploaded By</th>
                <th>Subject Code</th>
                <th>View</th>
                <th>Download</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for c in contents: %}
            <tr>
                <td>{{c._id}}</td>
                <td>{{c.file}}</td>
                <td>{{c.ctype}}</td>
                <td>{{c.lecturer}}</td>
                <td>{{c.subject}}</td>
                <td>
                    <a href="{{ url_for('static',filename='uploads/' + c.file) }}" class="btn btn-sm btn-warning"
                        target="_">View</a>
                </td>
                <td>
                    <a href="{{ url_for('static',filename='uploads/' + c.file) }}" class="btn btn-sm btn-success"
                        download>Download</a>
                </td>
                <td>
                    <a href="{{ url_for('admin.deletecontent',id=c.uid) }}" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>
{% endblock %}