{% extends "admin/base.html" %}
{% block title %}View Subjects{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
</style>
{% endblock %}
{% block content %}
<div class="container border border-1 rounded-2">
    <p class="fw-bold fs-4 mb-2 mt-2">View Subjects</p>
    <div>{% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning bg-warning text-light alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <table class="table table-striped table-hover" id="myTable" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Code</th>
                <th>Information</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for sub in subjects: %}
            <tr>
                <td>{{sub._id}}</td>
                <td>{{sub.name}}</td>
                <td>{{sub.code}}</td>
                <td>{{sub.info}}</td>
                <td>
                    <a href="{{ url_for('admin.deletesub',code=sub.code) }}" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>
{% endblock %}